<?xml version="1.0"?>

<model>
  <name>dancing_female</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>PrabhjotkAUR</name>
    <email>kaurprabhjot.kaur@gmail.com</email>
  </author>

  <description>
    Female dance corresponds to motion capture file '5_13' in the cgspeed motion capture database
  </description>

</model>
